* {
	width: 100%;
}

.phone {
	width:407px; 
	/*margin-left: 40%; */
	border-style: groove; 
	margin-bottom:50px; 
	margin-top:20px;
	height: 730px; 
	overflow: scroll; 
	border-radius: 30px;
}

#contactM{
	padding: 15px 0;
}

#welcome{
	background: url(img/frank.png) no-repeat center center fixed;
  	height: 43em;
  	padding: 15px 0px 10px;
}

.sect {
	padding: 30px 0px;
}

.creat {
	height: 100px;
	/*width: 18px;*/
}

.latestC {
	/*padding: 5px;*/
	display: block;
}
.container {
  position: relative;
  /*width: 40%;*/
}
.text {
	background: moccasin;
	width: 100%;
	height: 30px;
}
.meal {
	padding: 10px 0;
	margin-bottom: 8px;
}
.meal #p{
	padding: 22px 10px;
}
.meal a {
	color: black;
	text-decoration: none;
}

.meal a:hover { 
    color: purple;
    text-decoration: none;
}
.creat {
	    width: 100%;
	}

@media only screen and (max-width: 1000px){
	#welcome{
		background: url(img/frank.png) no-repeat center center fixed;
	}
}
@media only screen and (max-width: 760px){
	.creat {
	    width: 140px;
	    margin: 8px;
	}

	#welcome{
		background: url(img/frank.png) no-repeat fixed;
	}
}
